<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0-SNAPSHOT"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0-SNAPSHOT http://maven.apache.org/xsd/settings-1.0-SNAPSHOT.xsd">

    <profiles>
        <profile>
            <id>local</id>
            <properties>
                <settings.db.url>jdbc:postgresql://localhost:5432/testdb</settings.db.url>
                <settings.db.user>testdb</settings.db.user>
                <settings.db.password>testdb</settings.db.password>
                
                <socket.port.bio>8090</socket.port.bio>
                <socket.port.nio>8091</socket.port.nio>
            </properties>
        </profile>
    </profiles>

</settings>